*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background: #fff;
    position: fixed;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .left{
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
}
.navbar .left .logo img{
    width: 40px;
    margin: 10px ;
    margin-top: 20px;
    cursor: pointer;
}
.navbar .left .search{
    width: 250px;
    height: 40px;
    background: #faf6f6fa;
    border-radius: 30px;
    padding: 0 10px;
    position: relative;
}
.navbar .left .search i{
    font-size: 19px;
    color: #746e6e;
    margin-top: 9px;
}
.search input{
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 200px;
    outline: none;
    padding: 3px;
    margin-top: -7px;
}

.navbar .center{
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
}

.navbar .center #cen{
    font-size: 28px;
    cursor: pointer;
    color: #746e6e;
    margin-left: 2rem;
    padding-left:2rem;
    padding-right: 2rem; 
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10%;
}
.navbar .center #cen:hover{
    background-color: #746e6e2f;
    color: #2e1adf;
}
.navbar .right{
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 10rem;
    cursor: pointer;
}
.navbar .right #rg{
    width: 35px;
    height: 35px;
    font-size: 25px;
    margin: 5px;
    border-radius: 50%;
    background-color: #afa6a65b;
    padding: 5px;
}
.navbar .right .pto img{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}
.navbar .center .home:hover i::after {
    content: "";
    position: absolute;
    left: 31%; /* Start the underline from the middle */
    transform: translateX(-50%); /* Center the underline */
    bottom: -1px;
    width: 8%; /* Adjust width to fit the icon */
    height: 3px;
    background-color: rgba(56, 36, 236, 0.966);
    
}
.navbar .center .video:hover i::after {
    content: "";
    position: absolute;
    left: 40%; /* Start the underline from the middle */
    transform: translateX(-50%); /* Center the underline */
    bottom: -1px;
    width: 8%; /* Adjust width to fit the icon */
    height: 3px;
    background-color: rgba(56, 36, 236, 0.966);
    
}
.navbar .center .market:hover i::after {
    content: "";
    position: absolute;
    left: 50%; /* Start the underline from the middle */
    transform: translateX(-50%); /* Center the underline */
    bottom: -1px;
    width: 8%; /* Adjust width to fit the icon */
    height: 3px;
    background-color: rgba(56, 36, 236, 0.966);
    
}
.navbar .center .groups:hover i::after {
    content: "";
    position: absolute;
    left: 60%; /* Start the underline from the middle */
    transform: translateX(-50%); /* Center the underline */
    bottom: -1px;
    width: 8%; /* Adjust width to fit the icon */
    height: 3px;
    background-color: rgba(56, 36, 236, 0.966);
    
}
.navbar .center .gaming:hover i::after {
    content: "";
    position: absolute;
    left: 70%; /* Start the underline from the middle */
    transform: translateX(-50%); /* Center the underline */
    bottom: -1px;
    width: 8%; /* Adjust width to fit the icon */
    height: 3px;
    background-color: rgba(56, 36, 236, 0.966);
    
}

/*--------------main-------------------------------------------------------------------------------------------------*/

.main{
    display: flex;
    background-color: #f5f5f5;
    margin-top: 60px;
}
.main .left{
    width: 23%;
    height: 92vh;
    overflow: hidden;
    overflow-y:scroll;
    background: #f5f5f5;
    position: fixed;
    padding: 20px 6px 10px 10px;
}
.main .left:hover:-webkit-scrollbar-thumb{
    background: #cccccc;
}
.main .left::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f5f5f5;
}
.main .left .up .img{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.main .left .up .img:hover{
    background: #e3e3e3;
}
.main .left .up .img img{
    width: 50px;
    height: 50x;
    padding: 8px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.main .left .up .img p{
    font-size: 13px;
}
.main .left hr{
    width: 100%;
    height: 1px;
    background: #cccccc;
    margin: 10px 0;
}
.main .down h3{
    color: #2e1adf;
    font-size: 12px;
    float: right;
    margin-top: -16px;
    padding: 10px;
    opacity: 0;
}
.main .down{
    align-items: center;
}
.main .down .img{
    display: flex;
}
.main .down .img img{
    width: 50px;
    height: 50px;
    padding: 10px;

}
.main .down .img p{
    font-size: 14px;
    padding-top: 15px;
}
.main .down h2{
    color: #685c5c;
    font-size: 16px;
}

.main .down:hover h3{
    opacity: 1;
}
.main .down .img:hover{
    background-color:#e3e3e3;
   
}


.main .center{
    width: 50%;
    height: auto;
    background: #f5f5f5;
    margin-left: 25%;
    padding: 20px 20px 0 20px;
}
.main .center::-webkit-scrollbar{
    width: 0;
}
.main .center .top_box{
    width: 100%;
    height: 260px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.main .center .top_box .story{
    width: 135px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}
.main .center .top_box .story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main .center .top_box .story.story_box{
    width: 100%;
    height: 60px;
    background: #ffffff;
    position: relative;
    bottom: 50px;
    cursor: pointer;
}
.main .center .top_box .story .story_box img{
    width: 40px;
    height: 40px;
    display: flex;
    margin: 0 auto;
    position: relative;
    bottom: 4.5rem;
    border-radius: 50%;
    z-index: 200;
    border: #ffffff;
    border-width: 1rem;
    border: 2px solid #ffffff;
}
.main .center .top_box .story .story_box p{
    width: 100%;
    height: 6rem;
    background-color: #ffffff;
    display: flex;
    position: relative;
    bottom: 5rem;
    padding: 20px;
    margin-top: -0.7rem;
    z-index: 100;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    justify-content: center;   
}
.main .center .top_box .story1{
    width: 135px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
}
.main .center .top_box .story1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
.main .center .top_box .story1 .story_box{
    width: 100%;
    height: 60px;
    position: relative;
    bottom: 50px;
    cursor: pointer;
}
.main .center .top_box .story1 .story_box img{
    width: 35px;
    height: 35px;
    display: flex;
    margin: 10px;
    position: relative;
    border-radius: 50%;
    z-index: 200;
    bottom: 13rem;
    border: 4px solid #45abff;
}
.main .center .top_box .story1 .story_box p{
    width: 100%;
    height: 6rem;
    display: flex;
    position: relative;
    bottom: 5rem;
    padding: 20px;
    margin-top: 2.4rem;
    z-index: 100;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    justify-content: center; 
    color: #ffffff; 
    font-weight: bold;
}

.main .center .center_box{
    width: 33rem;
    height: auto;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    margin: 10px ;
    align-content: center;
    margin-left: 1.8rem;
}
.main .center .center_box .top img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
   
}
.main .center .center_box .top input{
    width: 80%;
    height: 35px;
    border-radius: 30px;
    font-size: 17px;
    float: inline-start;
    margin: 15px;
    margin-right: 40px;
    position: relative;
    float: right;
    outline: none;
    border: 0;
    background: #f8f5f5;
    margin-top: -3rem;
}
.main .center .center_box .top input:hover{
    background: #e3e3e3;
}
.main .center .center_box hr{
    width: 90%;
    height: 1px;
    background: #cccccc;
    border: 0;
    margin: 10px;
    align-items: center;
}
.main .center .center_box .bottm{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px auto;
}
.main .center .center_box .bottm .icon{
    display: flex;
    padding: 5px;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 20px;
}
.main .center .center_box .bottm .icon i{
    font-size: 25px;
    padding: 10px;
}
.main .center .center_box .bottm .icon p{
    color: #9b9494;
}
.main .center .center_box .bottm .icon:nth-child(1) i {
    color: red;
}

.main .center .center_box .bottm .icon:nth-child(2) i {
    color: green;
}

.main .center .center_box .bottm .icon:nth-child(3) i {
    color: yellow;
}
.main .center .center_box .bottm .icon:hover{
    background: #dddada94;
}
.main .center .post{
    margin: 10px 0;
    width: 33rem;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    margin-left: 1.7rem;
}
.main .center .post img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
.main .center .post .post_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main .center .post .frirndim_nm{
    display: flex;
    align-items: center;
}
.main .center .post .frirndim_nm img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    cursor: pointer;
}
.main .center .post .frirndim_nm .f_name{
    font-weight: bold;
    cursor: pointer;
}
.main .center .post .frirndim_nm .f_name:hover{
    text-decoration: underline;
}
.main .center .post .frirndim_nm .f_time {
    font-size: 12px;
    color: #919191;
    margin: 3px 0;
} 
.main .center .post .frirndim_nm .f_time i{
    padding: 5px;
}
.main .center .post .f_icon{
   margin-left: 16rem;
   cursor: pointer;
}
.main .center .post .f_icon i{
    padding: 5px;
    color: #535050;
    font-size: 20px;
    border-radius: 50%;
}
.main .center .post .f_icon i:hover{
    background: #e7e4e4;
}
.main .center .post img{
    padding: 5px;
}
.main .center .post .infor .emoji{
    display: flex;
}
.main .center .post .infor .emoji img{
    width: 35px;
    height: 35px;
    margin: -8px;
}
.main .center .post .infor .emoji p{
    margin-left: 10px;
    font-size: 14px;
}
.main .center .post .infor .emoji .comment{
    display: flex;
    margin-left: 5rem;
}
.main .center .post .infor .emoji .comment i{
    padding: 5px;
    font-size: 18px;
    color: #685c5c;
    cursor: pointer;
}
.main .center .post .infor .emoji .comment p{
    padding: 5px;
    font-size: 15px;
}
.main .center .post .infor .react_icon{
    display: flex;
    align-items: center;
    margin-left: 4rem;
    margin: 10px;
    cursor: pointer;
}
.main .center .post .infor .react_icon i{
    margin-left: 1rem;
    font-size: 20px;
    padding: 4px;
    color: #535050;
}
.main .center .post .infor .react_icon p{
    margin-right: 20px;
    font-size: 15px;
    box-sizing: border-box;
   
}
.main .center .post .infor .comment_botom .comment_1 img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
.main .center .post .infor .comment_botom .comment_1{
    display: flex;
}
.main .center .post .infor .comment_botom .comment_1 .com{
    margin: 15px 10px;
    background-color:#f8f5f5;
    padding:10px;
    padding-right: 19rem;
    border-radius: 20px;
}
.main .center .post .infor .comment_botom .comment_1 .com1{
    font-size: 12px;
}
.main .center .post .infor .comment_botom .comment_1 .com2{
    margin-left: 1rem;
    padding: 5px;
}
.main .center .post .infor .comment_botom .com_react{
  display: flex; 
  margin-top: -15px;
  align-items: center;
  position: relative;
  padding-left: 65px;
  cursor: pointer;
}
.main .center .post .infor .comment_botom .com_react p{
    padding: 10px;
    font-size: 13px;
    color: #685c5c;
}
.main .center .post .infor .comment_botom .com_react p:hover{
    text-decoration: underline;
}
.main .center .post .infor .comment_botom .v_com{
    padding-top: 8px;
    cursor: pointer; 
    color: #685c5c;
}
.main .center .post .infor .comment_botom .y_com{
    display: flex;
}
.main .center .post .infor .comment_botom .y_com img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}
.main .center .post .infor .comment_botom .y_com input{
    padding-right: 15rem;
    padding-left: 10px;
    border-radius: 20px;
    border: none;
    background-color: #cccccc;
}
.main .center .post .infor .comment_botom .y_com i{
    font-size: 20px;
    padding: 5px;
    float: left(2rem);
    color: #535050;
}
.main .center .post .infor .comment_botom .y_com .icon{
    display: flex;
    margin-left: -6rem;
    margin-top: 6px;
    cursor: pointer;
}
/*--------------------------------------------------------------------------------------------------------*/

.right{
    background: #f5f5f5;
    margin-top: 30px;
}
.right .friend{
  position: fixed;
  overflow: hidden;
  overflow-y: scroll;
  width: 20.4rem;
  height: 92vh;
  background: #f5f5f5;
  scrollbar-color: #f5f5f5;
}

.right .friend .top{
    display: flex;
}
.right .friend .top label{
    font-size: 16px;
    color: #535050;
    font-weight: bold;
    padding: 6px;
}
.right .friend .top p{
    font-size: 16px;
    color: #45abff;
    margin-top: 4px;
    margin-left: 7rem;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.right .friend .top p:hover{
    background: #eeeaea;
}
.right .friend .profile{
    display: flex;
    cursor: pointer;
}
.right .friend .profile img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}
.right .friend .profile p{
    padding: 5px;
    margin-top: 10px;
    font-weight: 10px;
}
.right .friend .profile .time{
    color: #2a91e6;
    font-size: 12px;
    margin-left: 5rem;
}
.right .friend .mutual{
    display: flex;
    margin-top: -20px;
    margin-left: 70px;
}
.right .friend .mutual img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: -4px;
}
.right .friend .mutual p{
    font-size: 13px;
    color: #9b9494;
    margin-left: 10px;
}
.right .friend button{
    margin-top: 15px;
    padding: 10px;
    margin-left: 5px;
    font-size: 16px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 10px;
    border: none;
    background-color: #dbd6d6;
    margin-bottom: 20px;
    cursor: pointer;
}
.right .friend .confirm{
    background-color:#167fd4;
    color: #ffffff;
    margin-left: 30px;
}
.right .birthday{
    margin: 10px;
}
.right .birthday .birthday_one{ 
    display: flex;
}

.right .birthday label{
    font-size: 16px;
    color: #535050;
    font-weight: bold;
    padding: 10px;
}
.right .birthday .birthday_one img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
}
.right .birthday .birthday_one p{
    margin: 10px;

}
.right .contact .contact_top{
    margin: 10px;
    margin-bottom: 20px;
}
.right .contact .contact_top label{
    font-size: 16px;
    color: #535050;
    font-weight: bold;
    padding: 10px;
    
}
.right .contact .contact_top i{
    font-size: 15px;
    padding: 8px;
    border-radius: 50%;
    float: inline-end;
    cursor: pointer;
}
.right .contact .contact_top i:hover{
    background: #d8d1d1;
}
.right .contact .contact-prof{
    display: flex;
    cursor: pointer;
    border-radius: 10px;
}
.right .contact .contact-prof:hover{
    background: #c5c1c1;
}
.right .contact .contact-prof img{
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 50%;
    margin: 10px;
}
.right .contact .contact-prof p{
    margin-top: 20px;
}